<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>SISTEMA DE ADMINISTRACION DE DOCENTES DE UNA UNIVERSIDAD </title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<body>
<div class="panel panel-primary" align="center">
  <h1 class="display-6">SISTEMA DE ADMINISTRACION DE DOCENTES DE UNA UNIVERSIDAD</h1>
    <p>Cantidad de Docentes: {{cantidad}}</p>
</div>


<div class="table-responsive">
<table class="table table-striped table-hover table table-sm table align-middle text-center" >
    <caption>Lista de Docentes</caption>

    <tr>
        <th >Id</th>
        <th >Nombre</th>
        <th >Apellido</th>
        <th >Email</th>
        <th >Materia</th>
        <th ></th>
        <th ></th>
        <th ></th>
    </tr>
    <tbody class="table-group-divider">
        {% for docente in docentes %}
         <tr>
             <td>{{docente.id}}</td>
             <td>{{docente.nombre}}</td>
             <td>{{docente.apellido}}</td>
             <td>{{docente.email}}</td>
             <td>{{docente.materia.nombre}}</td>
             <td><a class="btn btn-warning" href="ver_docente/{{docente.id}}"><i class="fa-solid fa-eye"></i></a></td>
             <td><a class="btn btn-success" href="editar_docente/{{docente.id}}"><i class="fa-solid fa-pencil"></i></a></td>
             <td><a class="btn btn-danger" href="eliminar_docente/{{docente.id}}"><i class="fa-solid fa-eraser"></i></a></td>
         </tr>
        {% endfor %}
    </tbody >

</table>
</div>
<br>
<br>
<div>
    <caption>Agregar docente</caption>
    <a  class="btn btn-primary" href="agregar_docentes"><i class="fa-solid fa-user-plus"></i></a>
</div>
</body>
</html>
